{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<div class="page-header">
	<h1>{{ 'Surveys'|trans({}, 'ARIPDSurveyBundle') }}</h1>
</div>
{% if entities %}
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Starting At</th>
			<th>Ending At</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr>
			<td>{{ entity.name }}</td>
			<td>{{ entity.description }}</td>
			<td>{{ entity.startingAt|localizeddate('short', 'short') }}</td>
			<td>{{ entity.endingAt|localizeddate('short', 'short') }}</td>
			<td>
				<div class="btn-group">
					<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="{{ path('aripd_admin_survey_survey_show', { id: entity.id }) }}"><i class="icon-pencil"></i> {{ 'Show'|trans() }}</a></li>
						<li><a href="{{ path('aripd_admin_survey_survey_edit', { id: entity.id }) }}"><i class="icon-edit"></i> {{ 'Edit'|trans() }}</a></li>
						<li><a href="{{ path('aripd_admin_survey_survey_delete', { id: entity.id }) }}"><i class="icon-trash"></i> {{ 'Delete'|trans() }}</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
{{ 'alert.records.zero'|trans() }}
{% endif %}

<div class="form-actions">
	<a class="btn" href="{{ path('aripd_admin_survey_survey_new') }}">{{ 'New entry'|trans() }}</a>
</div>
{% endblock %}