{% extends 'ARIPDAdminBundle::layout.html.twig' %}

{% block container %}
<div class="page-header">
	<h1>{{ 'Survey Management'|trans({}, 'ARIPDSurveyBundle') }}</h1>
</div>
<form action="{{ path('aripd_admin_survey_survey_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<div class="form-actions">
		<a class="btn" href="{{ path('aripd_admin_survey_survey_index') }}"><i class="icon-chevron-left"></i> {{ 'Back'|trans() }}</a>
		<button class="btn btn-primary" data-loading-text="{{ 'Loading...'|trans() }}" type="submit">{{ 'Create'|trans() }}</button>
	</div>
</form>
{% endblock %}